<div class="container">
  <div class="question">
    <%= @question %>
    <p><em>-You</em></p>
  </div>

  <div class="answer">
    <%= @answer %>
    <p><em>-Your coach</em></p>
  </div>

  <div class= "link">
    <%= link_to "Ask a new question", ask_path %>
  </div>
</div>
