<div class="custom-file">
  <form action="/answer" data-turbo="false" class="text-center custom-file">
    <input type="text" name="question" class="custom-file-label">
    <input type="submit" value="Ask!" class="custom-file-input">
  </form>
</div>
