/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.kkk {
  margin-top: 20px;
}

.container {
  font-size: 24px;
  text-align: center;
  width: 400px;
  background-color: white;
}

.ask-btn {
  text-decoration: none;
  background-color: #64A6BD;
}

.link {
  font-size: 16px;
}

.custom-file {
  margin: 20px;
}

.custom-file-label {
  width: 340px;
}

.custom-file-input {
 margin-left: -6px;
 background-color: #64A6BD;
}
